body{
	font-family: Arial;
}
h1{
	color:blue;

}

.mitabla{
	border:solid;
	margin:0 auto;
	width: 60%;
}

.mitabla tr td{
	border:solid 0.05em gray;
}

.mitabla tr:nth-child(even){
	background:orange;
	padding:0.5em;
}

.mitabla tr{
	background:blue;
	color:orange;
	transition: all linear 0.5s;
}

.mitabla tr:hover{
	background:orange;
	color:blue;
	transform:scale(2,2) skew(2deg,3deg);
}